/* App container */
.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

/* Header */
.App-header {
  margin-bottom: 30px;
  text-align: center;
}

/* Table */
.pokemon-table {
  border-collapse: collapse;
  width: 100%;
}

.pokemon-table td {
  padding: 10px;
  text-align: center;
}

/* Pokemon cell */
.pokemon-cell {
  border: 2px solid #fff;
  border-radius: 8px;
  overflow: hidden;
  transition: border-color 0.3s ease;
}

.pokemon-cell:hover {
  border-color: #007bff;
}

/* Pokemon image */
.pokemon-image {
  max-width: 100px;
  max-height: 100px;
}

/* Pokemon name */
.pokemon-name {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

/* Footer */
footer {
  margin-top: 30px;
  text-align: center;
}

/* Button styles */
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover {
  background-color: #0056b3;
}


/* Define colors for different Pokémon types */
.normal { background-color: #A8A878; }
.fighting { background-color: #C03028; }
.flying { background-color: #A890F0; }
.poison { background-color: #A040A0; }
.ground { background-color: #E0C068; }
.rock { background-color: #B8A038; }
.bug { background-color: #A8B820; }
.ghost { background-color: #705898; }
.steel { background-color: #B8B8D0; }
.fire { background-color: #F08030; }
.water { background-color: #6890F0; }
.grass { background-color: #78C850; }
.electric { background-color: #F8D030; }
.psychic { background-color: #F85888; }
.ice { background-color: #98D8D8; }
.dragon { background-color: #7038F8; }
.dark { background-color: #705848; }
.fairy { background-color: #EE99AC; }
.unknown { background-color: #68A090; }
.shadow { background-color: #5A5A5A; }

